.launchpad{
  &-detail{
    position: relative;
    padding: 112px 0 150px;
    @media (max-width: 1500px) and (min-width: 1200px){
      padding-top: 98px;
    }
    @media (max-width: 1199px) and (min-width: 992px){
      padding-top: 74px;
      padding-bottom: 120px;
    }
    @media (max-width: 991px) and (min-width: 768px){
      padding-top: 80px;
      padding-bottom: 100px;
    }
    @media (max-width: 767px) and (min-width: 576px){
      padding-top: 74px;
      padding-bottom: 100px;
    }
    @media (max-width: 575px){
      padding-top: 56px;
      padding-bottom: 70px;
    }
    &.-single{
      @media (min-width: 992px){
        padding-bottom: 100px;
      }
    }
    &:before{
      content: '';
      position: fixed;
      width: 100%;
      height: 100vh;
      background: url('../img/pages/subpage-bg.png') no-repeat top center, #EAEDF4;
      background-size: cover;
      left: 0;
      top: 0;
      z-index: -1;
      @media (max-width: 575px){
        background-image: url('../img/pages/subpage-bg-sp.png');
        background-position: right top;
      }
    }
  }
  &-content{
    padding-top: 50px;
    @media (max-width: 575px){
      padding-top: 34px;
    }
    .dt{
      &__header{
        margin: 0 auto 40px;
        @media (max-width: 575px){
          .form-label{
            font-size: 14px;
            font-weight: 500;
          }
          .icon-search{
            font-size: 18px !important;
            +.form-control{
              padding-right: 35px !important;
            }
          }
          .form-control{
            font-size: 13px;
            height: 42px;
          }
          .js-dropdown {
            min-width: 0;
            .-arrow{
              top: 18px;
            }
            .js-dropdown-list{
              font-size: 13px;
              li{
                a{
                  padding: 8px 15px;
                }
              }
            }
          }
        }
      }
      &__search{
        flex-grow: 1;
        max-width: 700px;
        @media (min-width: 992px){
          margin-right: 24px;
        }
        @media (max-width: 991px) and (min-width: 768px){
          width: 100%;
          max-width: 100%;
          margin-bottom: 30px;
        }
        @media (max-width: 767px) and (min-width: 576px){
          width: calc(100% - 185px);
          margin-right: 15px;
          margin-bottom: 20px;
          .form-control{
            font-size: 16px;
          }
        }
        @media (max-width: 575px){
          margin-right: 12px;
          margin-bottom: 20px;
          width: calc(100% - 142px);
        }
        .icon-search{
          position: absolute;
          font-size: 24px;
          color: #0B5CFF;
          right: 12px;
          bottom: 12px;
          +.form-control{
            padding-right: 44px;
          }
        }
      }
      &__sort{
        @media (min-width: 992px){
          margin-left: 24px;
        }
        @media (max-width: 991px) and (min-width: 768px){
          width: calc((100% - 40px) / 3);
          margin-left: 0;
          &:not(:last-child){
            margin-right: 20px;
          }
        }
        @media (max-width: 767px){
          width: calc((100% - 15px) / 2);
          min-width: 0;
        }
        &:nth-child(2){
          @media (max-width: 767px){
            margin-right: 0;
          }
          @media (max-width: 767px) and (min-width: 576px){
            width: 170px;
          }
          @media (max-width: 575px){
            width: 130px;
          }
        }
      }
    }
    .pagination{
      margin-top: 60px;
    }
  }
}

.lp{
  &__item{
    background: #FBFBFB;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    line-height: 1.5;
    .-thumb{
      width: 60px;
      height: 60px;
      @media (max-width: 767px) and (min-width: 576px){
        width: 40px;
        height: 40px;
      }
      img{
        max-height: 100%;
      }
    }
    .-title{
      color: #111111;
      font-size: 19px;
      font-weight: 700;
      @media (max-width: 767px) and (min-width: 576px){
        font-size: 18px;
      }
      &__info{
        font-weight: 400;
      }
    }
    .-value{
      font-size: 14px;
      font-weight: 600;
      margin-top: 8px;
    }
    .-cap{
      margin: 28px 0 16px;
      &__txt{
        color: #111111;
        font-size: 14px;
      }
      &__value{
        font-size: 18px;
        font-weight: 700;
        @media (max-width: 767px) and (min-width: 576px){
          font-size: 17px;
        }
      }
    }
    .-progress{
      position: relative;
      &__title{
        color: #111111;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      &__bar{
        position: relative;
        height: 6px;
        background: rgba(#31415B, 0.4);
        border-radius: 5px;
        .-bar{
          position: absolute;
          height: 100%;
          background: linear-gradient(269.97deg, #78A5FF 49.98%, #0B5CFF 85.81%);
          border-radius: 20px;
        }
      }
      &__value{
        color: #5D5E67;
        font-size: 12px;
      }
    }
    .-info{
      line-height: 2;
      letter-spacing: 0.02em;
      &__item{
        &:not(:last-child){
          margin-bottom: 8px;
        }
        .-txt{
          font-weight: 500;
        }
        .-value{
          color: #111111;
          font-weight: 600;
          &.-status{
            background: rgba(#5f00ff, 0.1);
            color: #5f00ff;
            border-radius: 6px;
            padding: 8px;
            line-height: (18/16);
            &.-fill{
              color: #FF9138;
              background-color: rgba(#FF9138, 0.1);
            }
            &.-cancel{
              color: #F14A16;
              background-color: rgba(#F14A16, 0.1);
            }
            &.-upcoming{
              color: #069403;
              background-color: rgba(#069403, 0.1);
            }
            &.-end{
              color: #0B5CFF;
              background-color: rgba(#0B5CFF, 0.1);
            }
            &.-kyc{
              background: rgba(#955bfa, 0.1);
              color: #955bfa;
            }
          }
        }
      }
    }
    .-bottom{
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid rgba(#0B5CFF, 0.2);
      &__time{
        color: #7B87A3;
        font-size: 14px;
        .-time{
          color: #111111;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .btn{
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        @media (min-width: 1200px){
          width: 170px;
          padding: 14px 10px;
        }
        @media (max-width: 1199px) and (min-width: 768px){
          width: 110px;
          padding: 7px 10px;
        }
        @media (max-width: 767px) and (min-width: 576px){
          font-size: 14px;
          width: 90px;
          padding: 7px 10px;
        }
      }
    }
    .-make{
      border: 1px solid #EA3D3D;
      border-radius: 3px;
      margin-bottom: 32px;
      line-height: 1;
      width: 100%;
      &__info{
        background: #DFE9FA;
        border-radius: 2px;
        color: #111111;
        font-size: 14px;
        line-height: (21/14);
        padding: 10px 16px;
        a{
          color: #111111;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .-form{
      .form-group{
        &:not(:last-child){
          margin-bottom: 24px;
        }
      }
      .form-control{
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .btn{
        border-radius: 12px;
        font-size: 16px;
        font-weight: 700;
        padding: 14px 16px;
        box-shadow: none;
        &.-disabled{
          background: linear-gradient(90deg, #EA3D3D 0%, #0B5CFF 100%);
          opacity: 0.4;
        }
      }
    }
    .-pool{
      line-height: (24/16);
      &__title{
        color: #111111;
        margin-bottom: 28px;
        font-weight: 500;
      }
      &__list{
        margin-bottom: 32px;
        @media (max-width: 1199px) and (min-width: 992px){
          font-size: 12px;
        }
        @media (max-width: 575px){
          font-size: 15px;
        }
        li{
          &:not(:last-child){
            margin-bottom: 20px;
            @media (max-width: 1199px) and (min-width: 992px){
              margin-bottom: 14px;
            }
          }
        }
        .-txt{
          margin-right: 24px;
          @media (max-width: 1199px) and (min-width: 992px){
            margin-right: 12px;
          }
          @media (max-width: 575px){
            margin-right: 12px;
          }
        }
        .-value{
          color: #111111;
          @media (max-width: 1199px) and (min-width: 992px){
            font-size: 12px;
          }
          @media (max-width: 575px){
            font-size: 15px;
          }
        }
      }
      .btn{
        box-shadow: none;
        border-radius: 14px;
        padding: 14px 16px;
        font-size: 16px;
        &:not(:last-child){
          margin-bottom: 12px;
        }
        &__status{
          border: 1px solid #EA3D3D;
          background: none;
          color: #EA3D3D;
          &:hover{
            color: #FFFFFF;
          }
        }
      }
      &__txt{
        color: #111111;
        font-size: 14px;
        margin-top: 8px;
      }
    }
  }

  &__scroll-x{
    overflow-x: auto;
    .lp__table{
      min-width: 705px;
    }
  }

  &__list{
    color: #5f7097;
    font-size: 14px;
    line-height: 1.5;
    &__item{
      padding: 12px 0;
      &:not(:last-child){
        border-bottom: 1px solid rgba(#0B5CFF, 0.2);
      }
      .-txt{
        margin-right: 24px;
        @media (max-width: 767px){
          margin-right: 0;
          padding-right: 12px;
          width: percentage(120/295);
        }
      }
      .-value{
        color: #111111;
        word-break: break-all;
        @media (max-width: 767px){
          width: percentage(175/295);
        }
      }
    }
  }
  &__table{
    width: 100%;
    table-layout: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    .w-12{
      width: 12%;
    }
    .w-17{
      width: 17%;
    }
    .w-26{
      width: 26%;
    }
    thead{
      border-bottom: 1px solid rgba(#0B5CFF, 0.2);
    }
    tr{
      &:not(:last-child){
        border-bottom: 1px solid rgba(#0B5CFF, 0.2);
      }
    }
    th, td{
      padding: 12px 8px;
      color: #5f7097;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
    }
    td{
      color: #111111;
    }
    tr{
      th, td{
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-left: 0;
        }
      }
    }
  }
  &__chart{
    max-width: 352px;
    margin: 16px auto 12px;
    @media (max-width: 575px){
      max-width: 254px;
    }
  }

  &__single{
    --row-gap: 30px;
    --item-padding: 32px 24px 20px;
    position: relative;
    row-gap: var(--row-gap);
    .dt{
      &__title{
        color: #0B5CFF;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 12px;
      }
    }
    &__detail, &__token, &__metric{
      background: #FBFBFB;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      padding: var(--item-padding);
      @media (min-width: 992px){
        width: percentage(770/1170);
      }
      @media (max-width: 991px){
        width: 100%;
      }
    }
    &__detail{
      font-size: 14px;
      line-height: (24/14);
      .dt{
        &__info{
          position: relative;
          margin-bottom: 44px;
          @media (max-width: 767px){
            margin-bottom: 22px;
          }
          .-thumb{
            width: 60px;
            height: 60px;
            margin-right: 16px;
            img{
              max-height: 100%;
            }
          }
          .-info{
            flex-grow: 1;
            max-width: calc(100% - 76px);
            @media (max-width: 767px){
              width: 100%;
              max-width: 100%;
            }
          }
          .if{
            &__header{
              margin-bottom: 18px;
              padding-top: 6px;
              @media (max-width: 767px){
                padding-top: 0;
                margin-top: 16px;
              }
              &__name{
                font-size: 18px;
                flex-grow: 1;
                line-height: (20/18);
                margin-right: 24px;
                max-width: calc(100% - 124px);
                @media (max-width: 767px){
                  width: 100%;
                  max-width: 100%;
                  margin-right: 0;
                }
                .-name{
                  color: #111111;
                  font-size: 24px;
                  font-weight: 600;
                }
                .-txt{
                  margin-top: 6px;
                }
              }
              .if__status{
                @media (max-width: 767px){
                  position: absolute;
                  top: 12px;
                  right: 0;
                }
              }
            }
            &__status{
              background: rgba(#5f00ff, 0.1);
              border-radius: 100px;
              color: #5f00ff;
              font-size: 14px;
              font-weight: 500;
              line-height: (20/14);
              margin-left: auto;
              min-width: 80px;
              padding: 8px 12px;
              text-align: center;
              &.-fill{
                color: #FF9138;
                background-color: rgba(#FF9138, 0.1);
              }
              &.-cancel{
                color: #F14A16;
                background-color: rgba(#F14A16, 0.1);
              }
              &.-upcoming{
                color: #069403;
                background-color: rgba(#069403, 0.1);
              }
              &.-end{
                color: #0B5CFF;
                background-color: rgba(#0B5CFF, 0.1);
              }
              &.-kyc{
                background: rgba(#955bfa, 0.1);
                color: #955bfa;
              }
            }
            &__content{
              @media (max-width: 767px){
                display: flex;
                flex-direction: column;
              }
              p{
                @media (max-width: 767px){
                  order: 2;
                }
                &:not(:last-child){
                  margin-bottom: 12px;
                }
              }
              .-share{
                margin-top: 18px;
                @media (max-width: 767px){
                  margin-top: 0;
                  margin-bottom: 20px;
                }
                li{
                  width: 19px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &:not(:last-child){
                    margin-right: 25px;
                  }
                  a{
                    display: block;
                    transition: 0.3s;
                    &:hover{
                      transform: translateY(-3px);
                    }
                  }
                  img{
                    max-height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    &__sidebar{
      @media (min-width: 992px){
        position: absolute;
        top: 0;
        right: 0;
        width: percentage(370/1170);
      }
      @media (max-width: 991px){
        width: 100%;
      }
      .lp__item{
        padding: var(--item-padding);
        &:not(:last-child){
          margin-bottom: var(--row-gap);
        }
        .-time{
          font-size: 18px;
          line-height: (20/18);
          margin-bottom: 24px;
          &__txt{
            margin-bottom: 8px;
          }
          &__info{
            color: #111111;
            font-size: 30px;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .-progress{
          margin-bottom: 32px;
          &__value{
            font-size: 14px;
          }
        }
      }
    }
  }

  &__box{
    --column: 3;
    --column-gap: 30px;
    --row-gap: 30px;
    --item-padding: 32px 24px;
    @media (max-width: 1199px) and (min-width: 992px){
      --column-gap: 16px;
      --row-gap: 16px;
      --item-padding: 24px 18px;
    }
    @media (max-width: 991px) and (min-width: 576px){
      --column: 2;
    }
    @media (max-width: 767px) and (min-width: 576px){
      --column-gap: 20px;
      --row-gap: 20px;
      --item-padding: 24px 16px;
    }
    @media (max-width: 575px){
      --column: 1;
      --column-gap: 0px;
      --row-gap: 30px;
    }

    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
    .lp__item{
      width: calc((100% - calc(var(--column-gap) * calc(var(--column) - 1))) / var(--column));
      padding: var(--item-padding);
    }
    .-primary{
      color: #0B5CFF;
    }
    .-highlight{
      color: #EA3D3D;
    }
  }
}
