.footer{
	position: relative;
	background: url('../img/footer-bg2.png') no-repeat center center / cover;
	position: relative;
	padding: 72px 0 56px;
	color: #111111;
	z-index: 9;
	@media (min-width: 992px){
		margin-top: -40px;
	}
	@media (max-width: 991px) and (min-width: 768px){
		margin-top: -48px;
	}
	@media (max-width: 767px){
		padding: 68px 0 37px;
		background-image: url('../img/footer-bg-sp.png');
		background-position: top center;
		background-size: 100% 100%;
	}
	a{
		font-size: 14px;
		line-height: 22px;
		color: #111111;
		transition: all .5s;
		&:hover{
			color: #0B5CFF;
		}
	}
	&-info{
		background: linear-gradient(91.2deg, #FFF3F3 37.88%, #E4EBF7 93%);
		border-radius: 24px;
		padding: 40px 3.8%;
		font-size: 16px;
		letter-spacing: 0.02em;
		line-height: 1.7;
		margin-bottom: 35px;
		@media (max-width: 991px){
			padding-bottom: 10px;
		}
		@media (max-width: 767px){
			margin-bottom: 50px;
		}
	}
	&-bottom{
		@media (max-width: 991px) and (min-width: 768px) {
			display: grid;
			grid-template-areas: "logo social"
                        "logo copyright";
			grid-template-columns: 48% 52%;
			grid-template-rows: 1fr auto;
		}
	}
	&__item{
		@media (max-width: 991px){
			margin-bottom: 30px;
		}
	}
	&__title{
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		color: #EA3D3D;
		margin-bottom: 16px;
	}
	&__logo{
		display: flex;
		align-items: center;
		margin-right: 20px;
		grid-area: logo;
		@media (max-width: 991px){
			padding-right: 30px;
			margin-right: 0;
		}
		@media (max-width: 767px){
			margin-bottom: 70px;
			justify-content: center;
		}
	}
	.copyright{
		font-size: 14px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #5D5E67;
		grid-area: copyright;
		@media (max-width: 767px){
			text-align: center;
		}
	}
	&__social{
		grid-area: social;
		margin-right: 20px;
		@media (max-width: 991px){
			margin-right: 0;
		}
		@media (max-width: 767px){
			margin-bottom: 10px;
			.-list{
				text-align: center;
			}
		}
		&__title{
			font-weight: 300;
			font-size: 14px;
			line-height: 24px;
			color: #828282;
			margin-bottom: 8px;
		}
		li{
			display: inline-block;
			&:not(:last-child){
				margin-right: 32px;
				@media (max-width: 1199px) and (min-width: 992px){
					margin-right: 24px;
				}
			}
		}
		a{
			position: relative;
			display: block;
			width: 24px;
			height: 24px;
			transition: all .5s;
			&:before{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: -1px;
				width: 100%;
				height: 100%;
				z-index: -1;
				background: linear-gradient(45deg, #FB451D, #ED8409);
			}
			&:hover{
				transform: translateY(-4px);
			}
		}
	}
}

body:not(.home){
	.footer{
		@media (max-width: 767px){
			margin-top: -48px;
		}
	}
}

.landing-page{
	.footer{
		.row{
			[class*="col-"]{
				&:not(:last-child){
					@media (max-width: 767px){
						margin-bottom: 30px;
					}
				}
			}
		}
		&__logo{
			@media (min-width: 768px){
				margin-bottom: 28px;
			}
		}
		&__item{
			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
		&__title{
			font-size: 18px;
			margin-bottom: 22px;
		}
		&__subscribe{
			.form-control{
				font-size: 14px;
				font-weight: 400;
				height: 50px;
				padding-right: 144px;
			}
		}
	}
}