
/*Loader*/
.loading-page{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-page__logo{
  position:relative;

  img{
    max-width: 154px;
  }
}

/*Sc Header*/
.sc__header{
    margin: 0 0 60px;
    letter-spacing: 0.02em;
    @media (max-width: 767px){
      margin-bottom: 30px;
    }
    @media (max-width: 575px){
      margin-bottom: 20px;
    }
    &__sub{
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #EA3D3D;
      margin-bottom: 8px;
      @media (max-width: 575px){
        font-size: 10px;
      }
    }
    &__title{
      font-weight: bold;
      font-size: 48px;
      line-height: 1.5;
      margin-bottom: 0;
      color: #0B5CFF;
      @media (max-width: 767px){
        font-size: 36px;
      }
      @media (max-width: 575px){
        font-size: 24px;
      }

    }

}

/*Effect*/
.ef--shine .dnfix__thumb{position:relative;display:block;overflow:hidden}
.ef--shine .dnfix__thumb::before{position:absolute;top:0;left:-75%;z-index:2;display:block;content:'';width:50%;height:100%;background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg)}
.ef--shine:hover .dnfix__thumb::before{-webkit-animation:shine 1s;animation:shine 1s}
@-webkit-keyframes shine{
    100%{left:125%}
}
@keyframes shine{
    100%{left:125%}
}


// STAR ANIMATION

@function multiple-box-shadow($n) {
  $value: "#{random(2500)}px #{random(2500)}px #0B5CFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2500)}px #{random(2500)}px #0B5CFF";
  }

  @return unquote($value);
}
$shadows-small: multiple-box-shadow(500);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#stars {
  z-index: -1;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
#stars2 {
  z-index: -1;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
#stars3 {
  z-index: -1;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
@media (max-width: 991px){
  #stars, #stars2, #stars3{
    display: none;
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-500px);
  }
}



@keyframes spinner-rotate{
    to{transform:rotate(360deg);}
}

@-webkit-keyframes lightAnimation {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1)
  }
  50% {
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3)
  }
  to {
    -webkit-filter: brightness(1);
    filter: brightness(1)
  }
}
@-webkit-keyframes Mousex{
  from{-webkit-transform:translate(0,0px);}
  65%{-webkit-transform:translate(0,15px);}
  to{-webkit-transform:translate(0,-0px);}
}
@-moz-keyframes Mouse{
  from{-moz-transform:translate(0,0px);}
  65%{-moz-transform:translate(0,15px);}
  to{-moz-transform:translate(0,-0px);}
}

@-webkit-keyframes Mousex2{
  from{-webkit-transform:translate(0,0px);}
  65%{-webkit-transform:translate(0,-15px);}
  to{-webkit-transform:translate(0,0px);}
}
@-moz-keyframes Mouse2{
  from{-moz-transform:translate(0,0px);}
  65%{-moz-transform:translate(0,-15px);}
  to{-moz-transform:translate(0,-0px);}
}


